:root {
    --color-templates: #07afd9;
    --color-profile-1: #9B769A;
    --color-profile-2: #7E6D86;
    --color-profile-3: #542052;
    --color-profile-4: #190A19;
    --color-profile-5: #F5EEF5;
  }

.login-container{
    margin-top: 15%;
}
.login-form-1{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}
.login-form-1 h3{
    text-align: center;
    color: #542052;
}
.login-form-2{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    background: #0062cc;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
    width: fit-content;
}
.btnSubmit
{
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin: 10px 10px;
}
.login-form-1 .btnSubmit{
    color: #fff;
    background-color: #542052;
}
.login-form-2 .btnSubmit{
    background-color: #fff;
    color: #542052;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #542052;
    font-weight: 600;
    text-decoration: none;
}
.objetoForm {
    width: 100% 
}
.form-group {
    width: 100% !important;
}
a {
    text-decoration: none;
}
