/* Modal */
.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

.datePicker {
  width: 100%;
}

/* FABS */
.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  right: 25px;
}

.fab-danger {
  border-radius: 100%;
  bottom: 25px;
  font-size: 22px;
  position: fixed;
  left: 25px;
  width: 70px;
  height: 70px;
}

.wd-100 {
  width: 100% !important;
}

.no-salto {
  white-space: nowrap !important;
}

.navbar-brand {
  margin-top: 10px;
}

.navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

.menu-opciones {
  display: inline-block;
  margin-top: 0px;
}

.menu-opciones .nav-item .btn {
  font-size: 18px;
}

.logo {
  margin-left: 0;
  width: 5rem;
}

.perfil {
  width: 100%;
  height: 40px;
  padding: 0 7px;
  background: none;
  min-width: max-content;
  color: #fff;
}

.perfil a {
  display: inline-flex;
  min-width: 50px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  text-decoration: none;
}

.perfil img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  margin-right: 10px;
}

.perfil a:hover {
  text-decoration: underline;
}

.salir {
  min-width: 80px;
}

.notas {
  min-height: 150px;
}

.icono-evento {
  width: 3vw;
  height: 3vh;
  margin-left: 2px;
  margin-top: 2px;
}

.icono-agenda {
  width: 2vw;
  height: 2vh;
}

.opcion-agenda {
  background: #FFF;
}

/* MEDIAQUERIES */
/* Dispositivo xs */
@media screen and ( max-width: 320px ) {

}

/* Dispositivo sm */
@media screen and ( max-width: 576px ) {

}

/* Dispositivo md */
@media screen and ( max-width: 768px) {

  .salir {
    font-size: 12px;
    min-width: 70px;
  }
}

/* Dispositivo lg */
@media screen and ( max-width: 992px ) {  
  .menu-opciones .nav-item .btn {
    font-size: 14px;
  }

  .salir {
    font-size: 14px;
    min-width: 75px;
  }
}

/* Dispositivo xl */
@media screen and ( max-width: 1200px ) {

}

/* Dispositivo xxl */
@media screen and ( max-width: 2400px ) {

}